<div style="margin-top: 9rem;" class="row container">
  <form action="/admin/add-product" method="post" class="col-md-6 ml-5 mt-5" enctype="multipart/form-data" onsubmit="return validateForm()">
    <div class="form-group">
      <label for="product-name">Product Name</label>
      <input type="text" class="form-control" id="product-name" name="productName" placeholder="Enter product name" maxlength="30" required>
      <div id="product-name-error" class="error-message"></div>
    </div>
    
    <div class="form-group">
      <label for="product-description">Product Description</label>
      <input type="text" class="form-control" id="product-description" name="productDescription" placeholder="Enter product Description" required>
      <div id="product-description-error" class="error-message"></div>
    </div>
    
    <div class="form-group">
      <label for="product-price">Product Price</label>
      <input type="number" class="form-control" id="product-price" name="productPrice" placeholder="Enter product price" min="0" required>
      <div id="product-price-error" class="error-message"></div>
    </div>
    <div class="form-group">
      <label for="product-quantity">Product Quantity</label>
      <input type="number" class="form-control" id="product-quantity" name="productQuantity" placeholder="Enter product Quantity" min="0" required>
      <div id="product-quantity-error" class="error-message"></div>
    </div>
    <div class="form-group mt-2">
      <label for="product-category">Category</label>
      <div>
        <select class="form-control mt-1" id="product-category" name="productCategory" required>
          {{#each categories}}
          <option>{{this.categoryName}}</option>
          {{/each}}
        </select>
        <div id="product-category-error" class="error-message"></div>
      </div>
    </div>
    
    <div style="margin-top: 4rem;" class="form-group">
      <label for="product-image">Product Image</label>
      <input type="file" class="form-control-file" id="product-image" name="productImage" multiple required>
      <div id="product-image-error" class="error-message"></div>
    </div>
    
    <button style="background-color: #f2ae0f; color: antiquewhite;" type="submit" class="btn">Add Product</button>
  </form>
</div>

<script>
  function validateForm() {
    var productNameInput = document.getElementById('product-name');
    var productDescriptionInput = document.getElementById('product-description');
    var productPriceInput = document.getElementById('product-price');
    var productCategoryInput = document.getElementById('product-category');
    var productImageInput = document.getElementById('product-image');
    var productQuantityInput = document.getElementById('product-quantity');
    
    // Reset error messages
    document.getElementById('product-name-error').textContent = '';
    document.getElementById('product-description-error').textContent = '';
    document.getElementById('product-price-error').textContent = '';
    document.getElementById('product-category-error').textContent = '';
    document.getElementById('product-image-error').textContent = '';
    document.getElementById('product-quantity-error').textContent = '';
    
    // Validate product name
    if (productNameInput.value.trim() === '') {
      document.getElementById('product-name-error').textContent = 'Product Name is required';
      return false;
    }
    if (productNameInput.value.length > 30) {
      document.getElementById('product-name-error').textContent = 'Product Name cannot exceed 25 characters';
      return false;
    }
      
    // Validate product price
    if (productQuantityInput.value.trim() === '') {
      document.getElementById('product-quantity-error').textContent = 'Product Quantity is required';
      return false;
    }
    
    
    // Validate product description
    if (productDescriptionInput.value.trim() === '') {
      document.getElementById('product-description-error').textContent = 'Product Description is required';
      return false;
    }
    
    // Validate product price
    if (productPriceInput.value.trim() === '') {
      document.getElementById('product-price-error').textContent = 'Product Price is required';
      return false;
    }
    if (parseFloat(productPriceInput.value) < 0) {
      document.getElementById('product-price-error').textContent = 'Product Price cannot be negative';
      return false;
    }
    
    // Validate product category
    if (productCategoryInput.value.trim() === '') {
      document.getElementById('product-category-error').textContent = 'Category is required';
      return false;
    }
    
    // Validate product image
    if (productImageInput.value.trim() === '') {
      document.getElementById('product-image-error').textContent = 'Product Image is required';
      return false;
    }
    
    return true; // Allow form submission
  }
</script>
