<style>
    .verifys{
        margin-top:19vh;
    }
</style>

  <div class="container mt-5 verifys">
    <h1 class="verifys">Email Verified</h1>
    <p>Your email has been successfully verified.</p>
    <p>Click the button below to login:</p>
    <a href="/login" class="btn " style="background-color:#f2ae0f;color:aliceblue">Login</a>
  </div>

