
  <style>
    .success{
        margin-top: 30vh;
    }
  </style>
    <div class="container  ">
        <div class="jumbotron success">
            <h2 class="display-4">Order Placed Successfully!</h2>
            <p class="lead">Thank you for your purchase. Your order has been placed successfully.</p>
            <hr class="my-4">
            <p>To view your orders, click the button below.</p>
            <a class="btn btn-success btn-lg" href="/order-list" role="button">Click Here to See Orders</a>
        </div>
    </div>
